<!DOCTYPE html>
<html ng-app="GameTime">
  <head>
    <title>gametime</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="angular-materialize.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  </head>
  <body>

    <nav ng-controller="NavCtrl">
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">gametime</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large" ng-show="currentUser">
          <i class="material-icons">menu</i>
        </a>
        <div class="hide-on-small-only">
          <h5 class="right nav-username"><a href="#" ui-sref="settings">{{currentUser.primaryUsername}}</a></h5>
          <a href="#" class="waves-effect waves-light btn right" ui-sref="login" ng-hide="currentUser">login</a>
          <a href="#" class="waves-effect waves-light btn right" ui-sref="register" ng-hide="currentUser">sign up</a>
        </div>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#" class="waves-effect waves-light"
                ng-click="hideNav()"
                ui-sref="directory"
                >directory</a></li>
          <li><a href="#" class="waves-effect waves-light"
                 ng-click="hideNav()"
                 ui-sref="settings"
                 >settings</a></li>
           <li><a href="#" class="waves-effect waves-light"
                  ng-click="logoutUser()"
                  >logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="hide-on-med-and-up">
      <br>
      <a href="#" class="waves-effect waves-light btn right" ui-sref="register" ng-hide="currentUser">sign up</a>
      <a href="#" class="waves-effect waves-light btn right" ui-sref="login" ng-hide="currentUser">login</a>
    </div>

    <div ui-view></div>

  </body>
  <script src="bundle.js"></script>
</html>
