<!DOCTYPE html>
<html ng-app="GameTime">
  <head>
    <title>gametime</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  </head>
  <body>

    <nav ng-controller="NavCtrl">
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">gametime</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
          <i class="material-icons">menu</i>
        </a>
        <div class="hide-on-small-only">
          <a href="#" class="waves-effect waves-light btn right" ui-sref="login">login</a>
          <a href="#" class="waves-effect waves-light btn right" ui-sref="register">sign up</a>
        </div>
        <ul class="side-nav" id="mobile-demo">
          <div class="hide-on-med-and-up">
            <li><a href="#" class="waves-effect waves-light" ng-click="hideNav()" ui-sref="login">login</a></li>
            <li><a href="#" class="waves-effect waves-light" ng-click="hideNav()" ui-sref="register">sign up</a></li>
          </div>
        </ul>
      </div>
    </nav>

    <div ui-view></div>

  </body>
  <script src="bundle.js"></script>
</html>
