<div class="container directory">
  <div class="row">
    <div class="col s12 m8 offset-m2">

      <div class="card">
        <div class="card-content black-text">
          <div class="card-title black-text center">search for user</div>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">username</label>
                </div>
                <div class="col s3">
                  <button class="btn waves-effect">search</button>
                </div>
              </div>
            </form>

        </div>
      </div>


      <div class="card">
        <div class="card-content black-text">
          <div class="card-title black-text center">filter results</div>
          <div class="col m6">
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 1</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 2</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 3</label>
            </p>
          </div>

          <div class="col m6">
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 4</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 5</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">opt 6</label>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th data-field="id">user</th>
            <th data-field="name">user feedback</th>
            <th data-field="price">most played</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <p class="username flow-text">
              <img src="http://placehold.it/35x35" alt="" class="hide-on-med-and-down">
              uSErName426
            </p>
          </td>
          <td>
            <span class="text-positive">80%</span>
            <span>/</span>
            <span class="text-negative">20%</span>
          </td>
          <td><p class="flow-text">heroes of the storm</p></td>
        </tr>
        <tr>
          <td>
            <p class="username flow-text">
              <img src="http://placehold.it/35x35" alt="" class="hide-on-med-and-down">
              onEMOREuser53
            </p>
          </td>
          <td>
            <span class="text-positive">60%</span>
            <span>/</span>
            <span class="text-negative">40%</span>
          </td>
          <td><p class="flow-text">starcraft 2</p></td>
        </tr>
        <tr>
          <td>
            <p class="username flow-text">
              <img src="http://placehold.it/35x35" alt="" class="hide-on-med-and-down">
              AnoTHErusER54
            </p>
          </td>
          <td>
            <span class="text-positive">50%</span>
            <span>/</span>
            <span class="text-negative">50%</span>
          </td>
          <td><p class="flow-text">league of legends</p></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
