<div class="container home">
  <div class="row">
  </div>
</div>

<div class="parallax-container">
  <div class="container">
    <div class="row">
      <div class="parallax"><img src="/images/wall_sm.png"></div>
        <div class="intro-text-wrapper">
          <div class="col s12 offset-m4 m8">

            <h1 class="center white-text landing-title">gametime</h1>
            <hr width="30%">
            <br>
            <p class="flow-text center intro-text white-text">a platform for connecting like-minded gamers</p>
          </div>
        </div>

    </div>
    <div class="hide-on-med-and-up">
      <br><br>
      <a href="#" class="waves-effect waves-light btn right" ui-sref="register" ng-hide="currentUser">sign up</a>
      <a href="#" class="waves-effect waves-light btn right" ui-sref="login" ng-hide="currentUser">login</a>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">play with people who play the same way as you</h2>
      <div class="intro-text-wrapper">
        <p class="flow-text">
          we strive to be a community built on people who want to play games together.
          casual or competitive, it's fine.  we want to facilitate knowing who's who through
          user feedback and gameplay statistics.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">play games left on the shelf</h2>
      <div class="intro-text-wrapper">
        <p class="flow-text">
          multiplayer games all too often have short online lifespans.  we want to help pair people playing less
          populated games with others looking for partners.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">games currently supported</h2>
      <div class="row">

        <div class="col s12 m6 l6 intro-games-list">
          <h5><img src="/images/green-drop.png" alt="">starcraft 2</h5>
        </div>
        <div class="col s12 m6 l6 intro-games-list">
          <h5><img src="/images/green-drop.png" alt="">league of legends</h5>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- <h2 class="center">asdf</h2> -->
