<div class="container">
  <div class="row">
    <div class="col s12 intro-text-wrapper">
      <p class="flow-text center intro-text">Tired of playing pickup games with foal mouthed squeakers and rookies?</p>
      <p class="flow-text center intro-text">Looking for a way to find gamers that play your style?</p>
      <hr width="30%">
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">Your Style of Play, Anytime</h2>
      <div class="intro-text-wrapper">
        <p class="flow-text">
          We are a community built on the premise that all styles of gameplay are ok,
          while recognizing that leet beasts don’t want to play with dirty casuals (and vice versa.
          We facilitate knowing whos who through user feedback and gameplay statistics.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">No Room for the Classless</h2>
      <div class="intro-text-wrapper">
        <p class="flow-text">
          The semi-anonymous state of players in online games creates a void that can all too often become filled with misogyny,
          bigotry, and general unkindness.  By creating a platform built around user based endorsements and ratings,
          you have a better idea of how unpleasant your next enemy (or team mate) might be.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
      <h2 class="center intro-header"><img src="/images/green-drop.png" alt="">Games Currently Supported</h2>
      <div class="row">

        <div class="col s12 m6 l6 intro-games-list">
          <h5><img src="/images/green-drop.png" alt="">Heroes of the Storm</h5>
          <h5><img src="/images/green-drop.png" alt="">Starcraft 2</h5>
          <h5><img src="/images/green-drop.png" alt="">Warcraft 3</h5>
        </div>
        <div class="col s12 m6 l6 intro-games-list">
          <h5><img src="/images/green-drop.png" alt="">League of Legends</h5>
          <h5><img src="/images/green-drop.png" alt="">Destiny</h5>
          <h5><img src="/images/green-drop.png" alt="">Starcraft</h5>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- <h2 class="center">asdf</h2> -->
