<div class="container profile">
  <div class="row center">
    <div class="col s12 m4 profile-sidebar">
      <div class="avatar-profile center">
        <img src="{{user.image}}" alt="" class="responsive-img avatar-lg">
        <p class="center flow-text">{{user.primaryUsername}}</h3>
        <p class="center flow-text play-style">{{user.playStyle}}</h3>
      </div>
      <div ng-hide="currentUser.primaryUsername === user.primaryUsername">
        <button class="btn waves-effect waves-light" ng-click="openMessageModal()">message</button>
        <br><br>
        <a class="waves-effect waves-light btn modal-trigger" href="#requestAMatch">request a match</a>

      </div>

      <div class="feedback-wrapper">
        <h5>Positive Feedback:</h5>
        <div class="text-positive">{{user.feedback.positivePercentage}} %</div>
        <h5>Negative Feedback:</h5>
        <div class="text-negative">{{user.feedback.negativePercentage}} %</div>
      </div>
    </div>
    <div class="col s12 m8 profile-main">
      <div class="card z-depth-4" ng-if="user.sc2">
        <div class="card-content">
          <div class="card-title black-text">Starcraft 2</div>
          <!-- <img ng-src="{{sc2data.portrait.url}}" class="portrait" alt=""> -->
          <h5>{{sc2data.displayName}}</h5>
          <h5>Primary Race: {{sc2data.career.primaryRace}}</h5>
          <br>
          <hr>
          <br>

          <div class="col s12 m6">
            <div ng-if="sc2data.career.highest1v1Rank">
              <h5 class="stat-title">1v1 Rank: </h5>
              <h4 class="stat">{{sc2data.career.highest1v1Rank}}</h4>

            </div>
            <div ng-if="sc2data.career.highestTeamRank">
              <h5 class="stat-title">Team Rank: </h5>
              <h4 class="stat">{{sc2data.career.highestTeamRank}}</h4>
            </div>
          </div>
          <div class="col s12 m6">
            <h5 class="stat-title">career total games:</h5>
            <h4 class="stat">{{sc2data.career.careerTotalGames}}</h4>
          </div>

          <div class="col s12">
            <br><hr><br>
            <h4>this season</h4>
          </div>

          <div class="col s12 m6" ng-if="sc2wins !== 0">
            <div id="sc2WinLoss" style="width:100%; height:250px;"></div>
          </div>
          <div class="col s12 m6">
            <h5 class="stat-title left">Protoss wins:</h5>
            <span class="stat">{{sc2data.career.protossWins}}</span><br>
            <h5 class="stat-title left">Zerg wins:</h5>
            <span class="stat">{{sc2data.career.zergWins}}</span><br>
            <h5 class="stat-title left">Terran wins:</h5>
            <span class="stat">{{sc2data.career.terranWins}}</span><br>
            <h5 class="stat-title left">Season total games:</h5>
            <span class="stat">{{sc2data.career.seasonTotalGames}}</span>
          </div>






          <br><br><br>
        </div>
      </div>
      <div class="card z-depth-4" ng-if="user.lol">
        <div class="card-content">
          <div class="card-title black-text">Leage of Legends</div>
          <h5>{{loldata.name}}</h5>
          <hr>
          <div class="col s12 m6">
            <div id="lolWinLoss" style="width:100%; height:250px;"></div>
          </div>
          <div class="col s12 m6">
            <h5 class="stat-title">Total games played: </h5>
            <h4>{{loltotalgames}}</h4>
            <h5 class="stat-title">Tier: </h5>
            <h4>{{loldata.tier_name}}</h4>
          </div>
          <div class="row">
            <div class="col s12">
              <br>
              <h5 class="heroes">heroes</h5>
              <br>
              <hr width="20%">
              <br>
              <div class="col m6" ng-repeat="hero in lolHeroes">
                <img ng-src="//ddragon.leagueoflegends.com/cdn/4.2.6/img/champion/{{hero.img}}.png" alt="">
                <h4>{{hero.name}}</h4>
                <div ng-repeat="tags in hero.tags">
                  <bold>{{tag}}</bold>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--
    <div class="col s12 m8 offset-m2 profile-main profile-endorsements">
      <div class="card">
        <div class="card-content">
          <div class="card-title black-text">Endorsements</div>
          <div ng-repeat="(endorsement, val) in endorsements track by $index" class="endorsement"
               ng-click="endorse(endorsement, val, $event)">{{endorsement}}: {{val}}</div>
        </div>
      </div>
    </div>
     -->

  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <br>
      <div class="row">
        <h4 class="center">User Feedback</h4>
        <div class="card-panel" ng-repeat="feedback in feedbacks">
          <h5>{{feedback.poster}}</h5>
          <h6 class="{{feedback.feedbackVal}}">
              {{feedback.feedbackVal}}
          </h6>
          <span class="black-text">{{feedback.body}}</span>
        </div>
      </div>

      <div class="row" ng-hide="currentUser.primaryUsername === user.primaryUsername">
        <form name="newMessage" ng-submit="submitFeedback()">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" ng-model="feedback.body"></textarea>
            <label for="textarea1">Played a game with this user?  Leave feedback!</label>
            <h6 class="center">Did you enjoy playing with {{user.primaryUsername}}?</h6>
            <div class="center feedback-radio-wrapper">
              <span>
                <input name="feedback" type="radio" id="positive-feedback" ng-model="feedbackVal" value="positive" />
                <label for="positive-feedback">yep!</label>
              </span>
              <span>
                <input name="feedback" type="radio" id="negative-feedback" ng-model="feedbackVal" value="negative" />
                <label for="negative-feedback">nope.</label>
              </span>
            </div>
          </div>
          <div class="center">
            <button type="submit" class="center btn wave-effects wave-light submit-feedback">submit feedback</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Request Match Modal  -->
<div id="requestAMatch" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Request a Match</h4>
    <div class="col sm-12 m-3">
      <form name="requestMatchForm">
        <!-- <input type="text" id="datepicker" ng-model="matchDate"> -->
        <span class="request-text">Date and time:  </span>
        <input type="datetime-local" class="datepicker" ng-model="match.date">
        <span class="request-text"> Game: </span>
        <select class="browser-default request-game" ng-model="match.game">
          <option value="" disabled selected>choose a game</option>
          <option value="starcraft 2">starcraft 2</option>
          <option value="league of legends">league of legends</option>
        </select>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="" ng-click="submitRequest()" class=" modal-action modal-close waves-effect waves-green btn-flat">submit</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
  </div>
</div>
