<div class="contianer">
  <div class="row login-card profile-column">
    <div class="card col s12 m3 offset-m1 z-depth-5">
      <h4 class="center">{{currentUser.primaryUsername}}</h4>
      <img ng-src="{{currentUser.image}}" alt="" class="avatar-lg">
      <h4>{{currentUser.playStyle}}</h4>
      <form ng-submit="updateUser()">
        <div class="row">
          <div class="input-field col s12">
            <select class="browser-default" ng-model="user.playStyle">
              <option value="" disabled selected>choose your play style</option>
              <option value="casual">casual</option>
              <option value="easy going">easy going</option>
              <option value="somewhat competitive">somewhat competitive</option>
              <option value="competitive">competitive</option>
              <option value="highly competitive">highly competitive</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="userImage" name="userImage" ng-model="user.newImage">
            <label for="userImage">user image url</label>
          </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light btn">update</button>
      </form>
    </div>
    <div class="row">

      <div class="col s12 m6 offset-m1 matches-column">

        <h5 class="center">matches you've accepted</h5>

        <div class="card z-depth-4" ng-if="!acceptedMatches[0].length">
          <div class="card-content col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 accepted matches</p>
            </div>
          </div>
        </div>

        <div ng-repeat="matchObj in acceptedMatches">
          <div ng-repeat="match in matchObj" class="card z-depth-4">
            <span class="card-title">you are playing
              <span ng-if="match.receiver === currentUser.primaryUsername">
                {{match.sender}}
              </span>
              <span ng-if="match.sender === currentUser.primaryUsername">
                {{match.receiver}}
              </span>
              in
            </span>
            <div class="card-content col s10 offset-s1">
              <div>
                <h5 class="black-text">{{match.game}}</h5>
                <p class="black-text">on</p>
                <p class="black-text">{{match.formattedTime}}</p>
                <h6><timer /></h6>
              </div>
            </div>
          </div>
        </div>

        <br>

        <h5 class="center">matches you've requested</h5>

        <div class="card z-depth-4" ng-if="!requestedMatches[0].length">
          <div class="card-content col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 requested matches</p>
            </div>
          </div>
        </div>

        <div ng-repeat="matchObj in requestedMatches">
          <div class="card z-depth-4" ng-repeat="match in matchObj">
            <span class="card-title">you want to play {{match.receiver}} in</span>
            <div class="card-content col s10 offset-s1">
              <div>
                <h5 class="black-text">{{match.game}}</h5>
                <p class="black-text">on</p>
                <p class="black-text">{{match.formattedTime}}</p>
              </div>
              <div class="card-action">
                <a href="" ng-click="cancelMatch(match)">cancel</a>
              </div>
            </div>
          </div>
        </div>

        <br>

        <h5 class="center">match requests from others</h5>

        <div class="card z-depth-4" ng-if="!receivedMatches[0].length">
          <div class="card-content col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 received matches</p>
            </div>
          </div>
        </div>


        <div ng-repeat="matchObj in receivedMatches">
          <div class="card z-depth-4" ng-repeat="match in matchObj">
            <span class="card-title">{{match.sender}} wants to play you in</span>
            <div class="card-content col s10 offset-s1">
              <div>
                <h5 class="black-text">{{match.game}}</h5>
                <p class="black-text message-text">on</p>
                <p class="black-text message-text">{{match.formattedTime}}</p>
              </div>
              <div class="card-action">
                <a href="" ng-click="acceptMatch(match)">accept</a>
                <a href="" ng-click="declineMatch(match)">decline</a>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
