<div class="contianer">
  <div class="row login-card">
    <div class="card col s12 m3 offset-m1">
      <h4 class="center">{{currentUser.primaryUsername}}</h4>
      <img ng-src="{{currentUser.image}}" alt="" class="avatar-lg">
      <h4>{{currentUser.playStyle}}</h4>
      <form ng-submit="updateUser()">
        <div class="row">
          <div class="input-field col s12">
            <select class="browser-default" ng-model="user.playStyle">
              <option value="" disabled selected>choose your play style</option>
              <option value="casual">casual</option>
              <option value="easy going">easy going</option>
              <option value="somewhat competitive">somewhat competitive</option>
              <option value="competitive">competitive</option>
              <option value="highly competitive">highly competitive</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="userImage" name="userImage" ng-model="user.newImage">
            <label for="userImage">user image url</label>
          </div>
        </div>

        <div class="row">
          <span>
            <input type="checkbox" id="Starcraft2" name="Starcraft2" ng-model="ModelData.sc2"/>
            <label for="Starcraft2">starcraft 2</label>
          </span>
          <span>
            <input type="checkbox" id="lol" name="lol" ng-model="ModelData.lol"/>
            <label for="lol">league of legends</label>
          </span>
        </div>
        <div class="row">
          <div ng-show="ModelData.sc2">
            <div class="input-field col s8">
              <input id="sc2" type="text" ng-model="user.sc2">
              <label for="sc2">starcraft 2 player name</label>
            </div>
            <div class="col s4">
              <span class="make-primary">
                <input name="usernameGroup" type="radio" id="sc2-primary"
                       ng-disabled="!user.sc2.length"
                       ng-model="user.primary"
                       value="sc2"
                       />
                <label for="sc2-primary">make primary</label>
              </span>
            </div>

            <div class="input-field col s8">
              <input id="sc2id" type="text" ng-model="user.sc2id">
              <label for="sc2id">starcraft 2 player id</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div ng-show="ModelData.lol">
            <div class="input-field col s8">
              <input id="sc2" type="text" ng-model="user.lol">
              <label for="sc2">LoL player name</label>
            </div>
            <div class="col s4">
              <span class="make-primary">
                <input name="usernameGroup" type="radio" id="lol-primary"
                       ng-disabled="!user.lol.length"
                       ng-model="user.primary"
                       value="lol"
                       />
                <label for="lol-primary">make primary</label>
              </span>
            </div>

          </div>
        </div>
        <button type="submit" class="btn waves-effect waves-light btn">update</button>
      </form>
    </div>
    <div class="row">
      <div class="col s12 m4 messages-column">
        <h5 class="center">messages</h5>

        <div class="card" ng-if="!currentUser.messages.length">
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 messages</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m3 matches-column">
        <div class="card" ng-repeat="msg in currentUser.messages">
          <span class="card-title">from: {{msg.sender}}</span>
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <p class="black-text left">{{msg.body}}</p>
            </div>
          </div>
        </div>

        <h5 class="center">matches you've accepted</h5>

        <div class="card" ng-if="!acceptedMatches.length">
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 accepted matches</p>
            </div>
          </div>
        </div>


        <div class="card" ng-repeat="match in acceptedMatches">
          <span class="card-title">you are playing {{match.sender}} in</span>
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <h4 class="black-text">{{match.game}}</h4>
              <h5 class="black-text">on</h5>
              <h5 class="black-text">{{match.formattedTime}}</h5>
            </div>
            <div class="card-action">
              <a href="" ng-click="cancelMatch(match)">cancel</a>
            </div>
          </div>
        </div>

        <h5 class="center">matches you've requested</h5>

        <div class="card" ng-if="!requestedMatches.length">
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 requested matches</p>
            </div>
          </div>
        </div>

        <div class="card" ng-repeat="match in requestedMatches">
          <span class="card-title">{{match.sender}} wants to play you in</span>
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <h4 class="black-text">{{match.game}}</h4>
              <h5 class="black-text">on</h5>
              <h5 class="black-text">{{match.formattedTime}}</h5>
            </div>
            <div class="card-action">
              <a href="" ng-click="cancelMatch(match)">cancel</a>
            </div>
          </div>
        </div>

        <h5 class="center">match requests from others</h5>

        <div class="card" ng-if="!receivedMatches.length">
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <p class="black-text left">You have 0 received matches</p>
            </div>
          </div>
        </div>

        <div class="card" ng-repeat="match in receivedMatches">
          <span class="card-title">{{match.sender}} wants to play you in</span>
          <div class="card-content white-text col s10 offset-s1">
            <div>
              <h4 class="black-text">{{match.game}}</h4>
              <h5 class="black-text">on</h5>
              <h5 class="black-text">{{match.formattedTime}}</h5>
            </div>
            <div class="card-action">
              <a href="" ng-click="acceptMatch(match)">accept</a>
              <a href="" ng-click="declineMatch(match)">decline</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
