.container {
  border: #f00 !important;
}

.card, .card-panel {
  border-radius: 10px !important;
}

.btn {
  color: white !important;
  background-color: #00BC8D !important;
  border-radius: 30px !important;
}

input, textarea {
  color: black !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Khula' !important;
  font-weight: 300 !important;
  color: #818181;
}

thead th {
  color: black;
}

body {
  font-family: 'Antic Slab', Helvetica, sans-serif !important;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  background-color: #686f75;
}

button {
  border-radius: 30px !important;
  background-color: #00bc8D !important;
}

.directory a {
  color: black;
}

h2 img {
  margin-right: 20px;
  width: 45px;
}


h5 img {
  margin-right: 20px;
  width: 20px;
}

.datepicker {
  width: 220px !important;
}

.positive {
  color: green;
  font-weight: bold !important;
}

.negative {
  color: red;
  font-weight: bold !important;
}

.home hr {
  margin-top: 40px;
  margin-bottom: 10px;
}

.avatar-lg {
  width: 250px;
}

.avatar-profile {
  margin-top: 5vh;
}

.avatar-profile img {
  display: block;
  margin: 0 auto;
  width: 250px;
}

.avatar-lg {
  -webkit-box-shadow: inset 2px 6px 43px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 6px 43px -12px rgba(0,0,0,0.75);
  box-shadow: inset 2px 6px 43px -12px rgba(0,0,0,0.75);
  border-radius: 5px;

}

.avatar-profile p {
  font-weight: bold;

}

.directory .card {
  margin-top: 50px;
  padding: 0 15px 15px 15px;
}

.directory span, .directory p {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.directory table img {
  vertical-align: top;
  margin-right: 10px;
}

.directory button {
  margin-top: 20px;
}

.directory .text-positive {
  color: green;
}

.directory .text-negative {
  color: red;
}

.directory .username img {
  width: 35px;
}

.endorsement {
  float: left;
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  margin: 10px;
  cursor: pointer;
}

p.play-style {
  font-weight: normal;
  color: green;
}


.login-card .card {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  text-align: center;
}

.login-card .card .card-title {
  color: #8C8C8C;
}

.login-card .make-primary label {
  margin-top: 25px;
}

.login-card {
  margin-top: 50px;
}

.message-text {
  font-size: 1.5em;
}

.nav-wrapper .btn {
  margin-top: 12px;
  margin-right: 10px;
}

.nav-username {
  margin-top: 20px;
  margin-right: 30px;
}

h2.intro-header {
  padding-top: 40px;
}

.intro-text {
  color: #8C8C8C;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
}

.intro-text-wrapper {
  margin-top: 50px;
}

h1.landing-title {
  margin-top: 10vh;

}

.parallax-container {
  margin-top: -50px;
  height: 400px !important;
}

.profile-column {
  margin-right: 10px !important;
}

.profile .stat {
  font-size: 2.28rem;
  color: black;
}

.profile .stat-title {
  font-style: italic;
}

.profile .portrait {
  width: 90px;
}

.profile-endorsements h4 {
  margin-top: 5vh;
}

.profile-main {
  margin-top: 5vh;
}

.profile-sidebar .btn {
  width: 20vw;
}

.profile-sidebar p {
  font-size: 1.5em;
  margin-top: 3vh;
}

.profile-sidebar h5 {
}

.profile-sidebar .feedback-wrapper {
  margin-top: 5vh;
}

.profile-sidebar .text-positive {
  font-size: 3em;
  color: green;
}

.profile-sidebar .text-negative {
  font-size: 3em;
  color: red;
}

.feedback-radio-wrapper {
  margin-left: -20px;
}

.request-game {
  width: 250px;
  display: inline-block !important;
}

.request-text {
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 15px;
  color: black;
}

a.waves-effect.waves-light {
  color: black;
}

.side-nav a {
  color: black !important;
}

.submit-feedback {
  margin-top: 30px;
}

.ui-datepicker-calendar {
  background-color: white !important;
}
