
body {
  font-family: Arial, sans-serif;
}

.directory a {
  color: black;
}

h2 img {
  margin-right: 20px;
  width: 45px;
}


h5 img {
  margin-right: 20px;
  width: 20px;
}

.home hr {
  margin-top: 40px;
  margin-bottom: 10px;
}

.avatar-lg {
  width: 250px;
}

.avatar-profile {
  margin-top: 5vh;
}

.avatar-profile img {
  display: block;
  margin: 0 auto;
}

.avatar-profile p {
  font-weight: bold;
}

.directory .card {
  margin-top: 50px;
  padding: 0 15px 15px 15px;
}

.directory span, .directory p {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.directory table img {
  vertical-align: top;
  margin-right: 10px;
}

.directory button {
  margin-top: 20px;
}

.directory .text-positive {
  color: green;
}

.directory .text-negative {
  color: red;
}

.endorsement {
  float: left;
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  margin: 10px;
  cursor: pointer;
}

p.play-style {
  font-weight: normal;
  color: green;
}


.login-card .card {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  text-align: center;
}

.login-card .card .card-title {
  color: #8C8C8C;
}

.login-card .make-primary label {
  margin-top: 25px;
}

.login-card {
  margin-top: 50px;
}

.nav-wrapper .btn {
  margin-top: 12px;
  margin-right: 10px;
}

h2.intro-header {
  padding-top: 40px;
}

.intro-text {
  color: #8C8C8C;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
}

.intro-text-wrapper {
  margin-top: 50px;
}

.messages-column {
  margin-left: 10px !important; 
}

.profile .portrait {
  width: 90px;
}

.profile-endorsements h4 {
  margin-top: 5vh;
}

.profile-main {
  margin-top: 5vh;
}

.profile-sidebar .btn {
  width: 20vw;
}

.profile-sidebar p {
  font-size: 1.5em;
  margin-top: 3vh;
}

.profile-sidebar h5 {
}

.profile-sidebar .feedback-wrapper {
  margin-top: 5vh;
}

.profile-sidebar .text-positive {
  font-size: 3em;
  color: green;
}

.profile-sidebar .text-negative {
  font-size: 3em;
  color: red;
}

.ui-datepicker-calendar {
  background-color: white !important;
}
